

body {
    background-color: #daa16bc7;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}



.home {
    background-image: url("../img/Fundo1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



#menu {
    width: 97%;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-bottom: 5px solid #ddd;
    border-radius: 0 0 10px 20px;
    list-style: none;
    margin: 0;
    color: #6b5541;
    font-size: 16px;
}

#menu li {
    padding: 6px;
}

#menu li a {
    margin-left: 40px;
    text-decoration: none;
    color: #333;
    font-size: 20px;
    transition: 0.2s;
}

#menu li a:hover {
    color: rgba(184, 130, 59, 0.85);
    font-weight: bold;
}


#menu .ativo {
    color: rgba(184, 130, 59, 0.85);
    font-weight: bold;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: #634e3d;
}

p {
    font-size: 20px;
}

h4 {
    font-size: 30px;
    text-align: center;
    color: #b89d89;
}



.nome {
    font-size: 25px;
    display: flex;
    width: 70%;
    margin-top: 20px;
}

.links-menu {
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.hero-box {
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    margin: 30px auto;
    padding: 60px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}


.linha-titulo {
    background-color: #1fd3d3;
    color: #0b0c0c;
    padding: 10px;
    text-align: center;
}


.links-contato a,
.links-contato2 a {
    display: inline-block;
    padding: 10px 18px;
    background-color: #d2b8a3;
    color: #000;
    text-decoration: none;
    border-radius: 6px;
    margin: 6px;
    font-weight: bold;
    transition: 0.2s;
}

.links-contato a:hover,
.links-contato2 a:hover {
    background-color: #b89d89;
}


.caixa-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.subtitulo {
    margin-top: -10px;
    font-size: 18px;
    color: #444;
}


.lista-caixa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 40px;
}


.caixa-card {
    background: #ffffffd2;
    border-radius: 12px;
    padding: 25px;
    text-align: left;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
}

.caixa-card h3 {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: bold;
}

.caixa-card p {
    margin-bottom: 15px;
}


.btn-github {
    display: inline-block;
    background: #d2b8a3;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: 0.2s;
}

.btn-github:hover {
    background: #b89d89;
}
