body {

    background-color: #b5ace6;

    background-image: url("../img/Fundo1.jpg");
    

}

.links-contato a {
    display: inline-block;
    padding: 10px 18px;
    background-color: #d2b8a3;
    color: #000;
    text-decoration: none;
    border-radius: 6px;
    margin: 6px;
    font-weight: bold;
}

.links-contato a:hover {
    background-color: #b89d89;
}

